<%- include('../partials/head') %>

    <h1>Community Watchlist:</h1>
    <div class="movie-container">
        <div class="movies-list">
            <% userId.forEach(comUser=> { %>
                <div class="card-container">
                    <div class="card">
                        <div class="card-body user-index">
                            <a href="/community/<%= comUser._id %>/show" class="user-link">
                                <h5 class="card-title">
                                    <%= comUser.username %>
                                </h5>
                            </a>

                        </div>
                    </div>
                </div>
        </div>
        <% }) %>
    </div>
    </div>

    <%- include('../partials/footer') %>