@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    background-color: rgb(231, 231, 231);
    margin: 0px;
    text-align: center;
    font-family: Antnon ,sans;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 40vw;
}

form button {
    margin-top: 10px;
}

.navbar{

    background: linear-gradient(135deg, #f5c518, #000000); /* Yellow to Black gradient */
    font-size: 1.5rem;

}
